<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="./jquery/dist/jquery.js"></script>
  </head>
  <body>
    <table>

      <thead>
        <tr>
          <th data-test='name'>
            姓名
          </th>
          <th data-test='chinese' data-flag=true>
            语文
          </th>
          <th data-test='math' data-flag=true>
            数学
          </th>
          <th data-test='english' data-flag=true>
            英语
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each str}}
        <tr>
          <td>
            {{name}}
          </td>
          <td>
            {{chinese}}
          </td>
          <td>
            {{math}}
          </td>
          <td>
            {{english}}
          </td>
          <td>
            <input type="button" data-fa='del' value="删除" data-name={{name}}>
          </td>
          <td>
            <input type="button" data-fa='chec' value="查看" data-name={{name}}>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <ul class="btn">
      姓名<input type="text" name="name"/>
      语文 <input type="text"/>
      数学 <input type="text"/>
      英语 <input type="text"/> <input type="button" name="addStudentInfo" value="增加" id="add">
    </ul>
    <ul class="ch">
      姓名<input type="text" name="name"/>
      语文 <input type="text"/>
      数学 <input type="text"/>
      英语 <input type="text"/><input type="button" name="checkStudentInfo" value="修改" id="change">
    </ul>
  </body>
  <script type="text/javascript" src='sort.js'></script>
</html>
